.page-login{
	background: url('../img/crissXcross.png');
	color:$LE-white;

	a{
		color: $LE-white;
	}

	.btn-connexion{
		position: absolute; 
		top: 0;  
		right: 0;
		margin-top:15px;
		margin-right:15px;
		text-decoration: none;

	}
	.center-connexion{

		margin: 40% auto auto auto;

		h3{
			color: $LE-white;
			width: 80%;
			margin: 180px auto auto 10%;
		}

		.button.button-light{
			width:90%;
			border-radius: 50px;
			margin:30px auto auto 5%;
			color: $LE-dark-text-color;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				margin-right: 10px;
			}
		}
		
		.button.button-dark{
			width:90%;
			border-radius: 50px;
			margin:10px auto auto 5%;
			border: 1px $LE-white solid;
			background-color: Transparent;
            background-repeat:no-repeat;
		}

		.login-plus-options{
			float:right;
			margin-right:25px;
			margin-top:10px;
			text-decoration: none

		}
	}

	.footer-connexion{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		p{
			font-size:11px;
			padding:0px 10px 5px 10px;
			text-align:justify;
		}
	}
}