.new-event{

	.location {
		.location-input {
			height: 300px;
			background: $LE-lightgrey;
			padding-top: 80px;
			padding-left: 20px;
			padding-right: 20px;

			h3{
				color: #979797;
				text-align: center;
			}			.list-inset.transparent-input{
				background-color:rgba(0,0,0,0) !important;
      			border:1px #c2c2c2 solid;
     			border-radius: 5px;
     			color: #979797;

      			label{
      				background-color:rgba(0,0,0,0) !important;
      				border-radius: 5px;
      			}
			}


			i{
				margin-right: 20px;
			}
		}
		.button.button-full.button-assertive{
			position: absolute;
			bottom: 35px;
			left: 0px;
		}
	}

	#map {
		position: absolute;
	    overflow: hidden;
	    top: 300px;
	    bottom: 0px;
	    width: 100%;
	}

	.information {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 44px;
		width: 100%;
		z-index: 3;
		overflow-y: scroll;
		background-color: $LE-white;
		transition-duration: 0.5s;
		transform: translateY(-100%);

		&.open {
			transform: translateY(0%);
		}

		img{
			position: relative;
		}
		.change-photo.overlay.overlay-black{
			height: 225px;
			padding-top: 80px;

			a{
				text-decoration: none;
				color: $LE-white;
				text-align:center;

				i.icon.ion-ios-camera-outline.placeholder-icon{
				    margin-left: 47%;
   				font-size: 40px;
   				color: $LE-white;
				}

				h3{
					color: $LE-white;
				}
			}
		}

		.list{
			width: 84%;
			margin-left: 8%;
			border:none;
			margin-bottom: 50px;

			.item{
				border-top: 0px;
			    border-left: 0px;
			    border-right: 0px;
			    border-bottom: 1px #ccc solid;
			    margin-top: 22px;
			    padding-left:0px;
			    padding-right:0px;

			}
		}
	}
}