.search{
	padding-top:80px;

	input.search-input{
		font-size: 28px;
		padding-top: 30px;
		padding-bottom: 30px;
		
	}

	.destinations-populer{

		margin-top:20px;
		padding-top: 20px;
		.list{
			padding-top: 20px;
			.list-destinations-header{
				margin-top: 15px;
				margin-left: 5px;
				font-size: 16px;
				font-weight: 300;
				color: $LE-lightgrey;
				
			}

			.item{
				border-top: 0px;
				border-left: 0px;
				border-right: 0px;
				border-bottom: 0px;
				font-weight: 800;
				font-size: 18px;
			}
		}
	}
}