.search{

	.scroll {
		height: 100%;
	}

	input.search-input{
		font-size: 28px;
		padding: 40px 20px;
		border-bottom: 1px solid $LE-lightgrey;
		width: 100%;
		color: $LE-red;
	}

    button.goSearch {
      position: fixed;
      bottom: 44px;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: $LE-red;
      color: $LE-white;
      border: none;
      font-size: $font-xlarge;
      font-weight: 800;
      z-index: 12;
    }

	div.date {
		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $LE-white;
		z-index: 10;
		transform: translateY(-100%);
		transition-duration: 0.5s;
		padding-bottom: 60px;
		overflow-y: hidden;

		&.open {
			transform: translateY(0%);
		}

		div.date-containt {
			margin-top: 40px;

			div.header {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $LE-lightgrey;
				padding: 0 20px 5px 20px;

				div.day {
					color: $LE-dark-text-color;
				}
			}

			div.body {
				height: 390px;
				overflow-y: auto;
				padding: 20px;

				h2 {
					color: $LE-lightgrey;
					font-size: $font-large;
					font-weight: normal;
					margin: 10px 0 0 0;
				}

				div.month-containt {

					div.row {
						width: 100%;
						display: flex;
						justify-content: space-between;
						padding: 5px 0;

						div.day {
                            position: relative;
							color: $LE-dark-text-color;
							width: 35px;
                            height: 35px;

                            input {
                              position: absolute;
                              height: 35px;
                              width: 35px;
                              top: 0;
                              left: 0;
                              opacity: 0;
                              z-index: 2;
                            }

                            span {
                              display: flex;
                              position: absolute;
                              top: 0;
                              left: 0;
                              height: 35px;
                              width: 35px;
                              justify-content: center;
                              align-items: center;
                            }

                            input[type="radio"]:checked {
                                opacity: 1;

                                &::after {
                                    content: attr(data-day);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 35px;
                                    width: 35px;
                                    background-color: $LE-red;
                                    border-radius: 35px;
                                    line-height: 35px;
                                    text-align: center;
                                    color: $LE-white;
                                }
                            }
						}
					}
				}
			}
		}

		button.next {
			position: absolute;
			right: 20px;
			bottom: 60px;
			background-color: $LE-red;
			height: 35px;
			border-radius: 35px;
			color: $LE-white;
			padding: 0 15px;
			border: none;
			display: flex;
			align-items: center;
            z-index: 10;

			svg {
				margin-left: 10px;
			}
		}

		svg.close {
			position: absolute;
			top: 10px;
			left: 20px;
		}
	}

    div.recap {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $LE-white;
      z-index: 10;
      transform: translateX(100%);
      transition-duration: 0.5s;
      padding-bottom: 60px;
      overflow-y: hidden;

      &.open {
        transform: translateX(0%);
      }

      input.search-input {
        border-bottom: none;
      }

      div.separator {
        width: 50px;
        height: 1px;
        background-color: $LE-lightgrey;
        margin-left: 20px;
      }

      div.field {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        margin: 0 20px;
        border-bottom: 1px solid $LE-lightgrey;

        span {
          font-size: $font-xlarge;
          color: $LE-dark-text-color;
          font-weight: 300;

          &:last-child {
            color: $LE-red;
          }
        }
      }
    }

    div.participant {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $LE-red;
      z-index: 10;
      transform: translateX(100%);
      transition-duration: 0.5s;
      padding-bottom: 60px;
      overflow-y: hidden;

      &.open {
        transform: translateX(0%);
      }

      svg.close {
        position: absolute;
        top: 15px;
        left: 20px;

        path {
          fill: $LE-white;
        }
      }

      div.field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        padding: 0px 20px;

        > span {
          font-weight: 600;
          font-size: $font-large;
          color: $LE-white;
        }

        > div {
          display: flex;
          align-items: center;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $LE-red;
            background-color: $LE-white;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            font-size: $font-xlarge;
            margin-right: 10px;
          }

          .input {
            width: 35px;
            height: 35px;
            border-radius: 35px;
            border: none;
            background-color: $LE-white;
            color: $LE-red;
            text-align: center;
          }
        }
      }

      button.next {
        position: absolute;
        right: 20px;
        bottom: 60px;
        background-color: $LE-white;
        height: 35px;
        border-radius: 35px;
        color: $LE-red;
        padding: 0 15px;
        border: none;
        display: flex;
        align-items: center;
        z-index: 10;

        svg {
          margin-left: 10px;

          path {
            fill: $LE-red
          }
        }
      }
    }

	.destinations-populer{
		list-style: none;
		padding: 0 20px;
		margin-top: 20px;
		color: $LE-dark-text-color;

		.list-destinations-header{
			font-size: $font-medium;
			font-weight: 300;
			color: $LE-dark-text-color;
			margin-bottom: 10px;
		}

		.item {
			border: none;
			padding: 10px 0;
			font-weight: 800;
			font-size: 18px;
		}
	}
}