@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  font-family: 'Roboto';
}

body h1 {
  padding: 50px 20px 0 20px;
  font-size: 40px;
  color: $LE-dark-text-color;
  font-weight: bolder;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.fixed {
    position: fixed;
  }

  &.overlay-black {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.tab-nav.tabs {
  height: 44px;
  padding-bottom: 4px;

  > a {
    display: flex;
    align-items: center;
  }

  .tab-item-active i {
    color: $LE-red;
  }
}

fieldset {
  margin: 0 0 0 -5px !important;
}

div.picture img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating input { display: none; }
.rating label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating .half:before {
  content: "\f089";
  position: absolute;
}

.rating label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) label:hover, /* hover current star */
.rating:not(:checked) label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating input:checked + label:hover, /* hover current star when changing rating */
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label, /* lighten current selection */
.rating input:checked ~ label:hover ~ label { color: #FFED85;  }