<ion-view class="background-img notlogged">
	<ion-content scroll="true" class="booking-detail-page">
	<a ng-click="$ionicGoBack()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
	<div class="booking-detail-title">
		<h2><span>{{ booking.nom }}</span> à <span> {{ booking.adresse.city }}</span> </h2>
		<p class="status">Confirmée</p>
		<p class="reference">KK9DSC</p>
		<hr align="left" width="10%">
	</div>
	<div class="list">

	    <div class="item item-avatar" ui-sref="profil({id: booking.id_user})">
			<img src="{{ booking.creatorUser.picture }}">
			<h2 class="repas">{{ booking.nom }}</h2>
			<p>Chef de cuisine: <span class="user-name">{{ booking.creatorUser.prenom }}</span></p>
	    </div>
	    <div class="item item-booking-detail-btns">
	    	<button class="button button-LE">
		      <i class="icon ion-ios-navigate-outline"></i>
		      <p>Itinéraire</p>
		    </button>
		    <button class="button button-LE">
		      <i class="icon ion-ios-chatboxes-outline"></i>
		      <p>Message</p>
		    </button>
		    <button class="button button-LE">
		      <i class="icon ion-ios-book-outline"></i>
		      <p>Régles</p>
		    </button>
    	</div>
	    <div class="item">
	    	Date  <span class="date_event" ng-bind="formatDate(booking.date) |  date:'dd/MM/yyyy'"></span>
	    </div>
	    <div class="item">
	    	Heure  <span class="time_event" ng-bind="formatDate(booking.date) |  date:'hh:mm'"></span>
	    </div>
	    <div class="item">
	    	Participant  <span class="time_event">{{ booking.participants.length }}</span>
	    </div>
	    <div class="item">
	    	<a link="#/event/{booking._id}">
		    	<img src="img/{{ booking.nom | lowercase }}.jpg" width="100%" height="225px"/>
		    	<p class="description_event">{{ booking.description }}</p>
	    	</a>
	    </div>
	    <div class="item">
	    	<a href="#/">
				Adresse
				<span  class="link_map_event">Ouvrir dans Google Maps</span>
				<p class="adresse_evnet">{{ booking.adresse.line }},<br/> {{ booking.adresse.postalCode }} {{ booking.adresse.city }}</p>
		    </a>
	    </div>
		<div class="item">
			<a link="#/price_detail">
				Coût total  <span class="prix_event">€{{ booking.prix }}</span>
	    	</a>
	    </div>
	    <div class="item">
	    	<a link="#/">
	    		Conditions d'annulation <span class="condition_cancel_event">Strictes</span>
	    	</a>
	    </div>


	</div>



	</ion-content>
</ion-view>