<ion-view class="background-img notlogged">
	<ion-header-bar align-title="left" class="bar-light edit-profil-header">
	  <div class="buttons">
	    <a ng-click="$ionicGoBack()" class="button icon-left ion-ios-close-outline button-clear button-dark"></a>
	  </div>
	  <h3 class="title" style="text-align:center">Modifier le profil</h3>
	  <div class="buttons">
	    <a ng-click="＃" class="button icon-left ion-ios-checkmark-outline button-clear button-dark"></a>
	  </div>
	</ion-header-bar>
	<ion-content scroll="true" class="edit-profil">
		<img src="../img/profil.jpeg" width="100%" height="300px" class="user_photo">
		<a ng-click="#" class="button icon-left ion-ios-camera-outline button-clear button-dark btn-change-photo"></a>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Prénom</span>
		    <input type="text" placeholder="Prénom">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nom</span>
		    <input type="text" placeholder="Nom">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Description</span>
		    <input type="text" placeholder="A propos de moi">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sexe</span>
		    <input type="text" placeholder="F/M">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Date de naissance</span>
		    <input type="text" placeholder="Votre date de naissance">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">E-mail</span>
		    <input type="text" placeholder="Votre adresse mail">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Téléphone</span>
		    <input type="text" placeholder="Votre numéro de téléphone">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Adresse</span>
		    <input type="text" placeholder="Votre adresse">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Ecole</span>
		    <input type="text" placeholder="Saisissez l'établissement de vos">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Emploi</span>
		    <input type="text" placeholder="Saisissez la profession">
		  </label>
		</div>
	</ion-content>
</ion-view>