<ion-view class="background-img notlogged">
	<ion-header-bar align-title="left" class="bar-light edit-profil-header">
	  <div class="buttons">
	    <a ng-click="$ionicGoBack()" class="button icon-left ion-ios-close-outline button-clear button-dark"></a>
	  </div>
	  <h3 class="title" style="text-align:center">Modifier le profil</h3>
	  <div class="buttons">
	    <a ng-click="submit(user)" class="button icon-left ion-ios-checkmark-outline button-clear button-dark"></a>
	  </div>
	</ion-header-bar>
	<ion-content scroll="true" class="edit-profil">
		<img src="{{user.picture}}" width="100%" height="300px" class="user_photo">
		<a ng-click="#" class="button icon-left ion-ios-camera-outline button-clear button-dark btn-change-photo"></a>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nom & Prénom</span>
		    <input type="text" placeholder="Prénom" ng-model="user.prenom">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sexe</span>
		    <select ng-model="user.sexe">
		    	<option value="female">Femme</option>
		    	<option value="male">Homme</option>
		    </select>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Age</span>
		    <input type="number" placeholder="Votre age" ng-model="user.age">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">E-mail</span>
		    <input type="email" placeholder="Votre adresse mail" ng-model="user.email">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Téléphone</span>
		    <input type="tel" placeholder="Votre numéro de téléphone" ng-model="user.phone">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Ville</span>
		    <input type="text" placeholder="Votre ville"  ng-model="user.city">
		  </label>
		</div>
	</ion-content>
</ion-view>