<ion-view class="background-img notlogged">
	<ion-content scroll="true" class="eventDetail">

        <div class="header">
            <a ng-click="$ionicGoBack()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
            <img src="{{ booking.picture }}"/>
        </div>

        <div class="event-info">
            <h2>{{ booking.nom }}</h2>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>

            <br/>
            <div class="separator"></div>

            <div class="infoUser" ui-sref="profil({ id: booking.creatorUser.id_user })">
                <div>
                    <span>Hôte : </span><span class="hote">{{ booking.creatorUser.prenom }}</span>
                </div>
                <div>
                    <img src="{{ booking.creatorUser.picture }}" />
                </div>
            </div>

            <p class="desc">{{ booking.description }}</p>

            <div class="separator"></div>

            <div class="map" id="map"></div>

            <div class="date">
                <span>Date</span>
                <span class="value" ng-bind="formatDate(booking.date) |  date:'dd/MM/yyyy hh:mm'"></span>
            </div>

            <div class="separator"></div>

            <div class="field">
                <span>Prix</span>
                <span class="value">{{ booking.prix }}&euro;</span>
            </div>
        </div>

	</ion-content>
    <button class="btn" ng-click="reservation()">Réserver</button>
</ion-view>