<ion-view>
    <ion-content scroll="false" class="map">

        <div class="header">
            <a ui-sref="result" class="button btn-back icon-left ion-chevron-left button-clear button-dark"></a>
            <img src="img/params.svg" ui-sref="search"/>
        </div>

        <div id="map"></div>

        <div class="content-event">
            <h2>{{ city }}</h2>
            <div class="scroll-content">
                <div class="event {{ event.selected ? 'selected' : '' }}" ui-sref="event_detail({id: event._id})" style="left: {{ (key * 120) + 'px'}}" ng-repeat="(key, event) in activities">
                    <img src="img/{{ event.nom | lowercase }}.jpg" />
                    <div class="overlay overlay-black">
                        <div>
                            <span class="price">€{{ event.prix }}</span>
                            <span>.</span>
                            <span>5 ★</span>
                        </div>
                        <div class="title">
                            <span>{{ event.nom }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>