<ion-view>
    <ion-content scroll="true" class="message">
        <h1>Messages</h1>

        <div class="separator"></div>

        <h2>Messages</h2>

        <div class="containt-messages">

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="picture">
                    <img src="http://lorempicsum.com/futurama/40/40/1" />
                </div>
                <div>
                    <div class="head">
                        <h3>Joep</h3>
                        <span>Il y'a 2 semaines</span>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut excepturi maiores maxime minus mollitia non numquam, qui quia reprehenderit? Cum eius esse excepturi fugiat magni minima perferendis, porro reiciendis sint!</p>
                        <span class="state">Refusée</span> <span>-</span> <span class="name">Tortillas chez Pablo</span>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>