<ion-view class="background-img notlogged">
	<ion-content scroll="false" class="new-event">
		<div class="location">
			<div class="location-input">
				<h3>Dans quelle ville se trouve votre appartement ?</h3>
				<div class="list list-inset transparent-input">
				  <label class="item item-input ">
				    <input type="text" placeholder="Ville" id="city" ng-model="adresse.city" ng-change="cityLocation(adresse.city)" autocomplete="false">
				    <i class="icon ion-ios-navigate-outline placeholder-icon"></i>
				  </label>
				</div>
			</div>
			<div class="location-maps" id="map">
				
			</div>
			<button class="button button-full button-assertive" ng-click="next()" ng-show="adresse.city">
			  Suivant
			</button>
		</div>

		<div class="information {{ step == 'info' ? 'open' : '' }}">
			<form ng-submit="submit(credential)">
				<div class="list">
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Nom de votre repas</span>
					<input type="text" placeholder="Ajouter un nom de votre repas" ng-model="credential.nom" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Description de votre repas</span>
					<input type="text" placeholder="Ajouter un description de votre repas" ng-model="credential.description" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Prix</span>
					<input type="number" min="0" placeholder="Prix pour chaque participant" ng-model="credential.prix" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
					<input type="datetime-local" ng-model="credential.date" required />
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Adresse</span>
				    <input type="text" placeholder="Adresse"  ng-model="credential.adresse.line" required />
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Code postal</span>
					<input type="text" placeholder="Code postal"  ng-model="credential.adresse.postalCode" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Ville</span>
					<input type="text" placeholder="Ville"  ng-model="credential.adresse.city" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Pays</span>
					<input type="text" placeholder="Pays"  ng-model="credential.adresse.country" required />
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label">Participant max.</span>
					<input type="number" min="0" placeholder="Nombre de participant maximum" ng-model="credential.nb_participant" required />
				  </label>
				</div>
				<button class="button button-full button-assertive">
				  Create
				</button>
			</form>
		</div>
	</ion-content>
</ion-view>