<ion-view class="background-img notlogged">
	<ion-content scroll="true" class="profil">
	<img src="{{user.picture}}" width="100%" height="300px" class="user_photo">
	<div class="descripiton overlay overlay-white ">
		<a ng-click="$ionicGoBack()" class="button icon-left ion-chevron-left button-clear button-dark button-back"></a>
	</div>
	<a class="button button-stable button-edit-profil" href="#/edit_user/{{user.id_user}}">
		<svg width="20px" height="20px" viewBox="20 10 491 491" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <path d="M455.1,137.9 L422.7,170.3 L341.7,89.2 L374.1,56.8 C380.7,50.2 392.2,50.2 398.8,56.8 L455.1,113.2 C461.9,120 461.9,131.1 455.1,137.9 Z M184.4,408.9 L103.4,327.8 L312.8,118.1 L393.8,199.2 L184.4,408.9 L184.4,408.9 Z M84.7,366.9 L145.3,427.6 L60.9,451.4 L84.7,366.9 Z M484,84.3 L427.7,27.9 C416.7,16.9 377,-3.9 345.3,27.9 L60,313.4 C57.5,315.9 55.7,318.9 54.8,322.3 L11.8,475.4 C9.8,482.5 11.9,490.1 17,495.4 C22.2,500.7 32.6,501.6 37,500.6 L190,457.5 C193.4,456.6 196.4,454.8 198.9,452.3 L484,166.8 C506.7,144.1 506.7,107.1 484,84.3 L484,84.3 Z" id="Shape" stroke="none" fill="#000000" fill-rule="evenodd"></path>
		</svg>
	</a>
	<div class="user-profil-title">
		<h2>{{user.prenom}}</h2>
		<p>{{user.ville}}</p>
	</div>

	<div class="list">
		<div class="item">
			E-mail  <span class="user_email">{{user.email}}</span>
		</div>
		<div class="item">
			N° tél  <span class="user_tel">{{user.phone}}</span>
		</div>
		<div class="item">
			Membre depuis <span class="user_create_date">11/11/2011</span>
		</div>
		<div class="item">
			Commentaire
			<span>
			    <p class="user-rating">{{lastcomment.rating}} / 5</p></br/>
		        {{lastcomment.description}}
		    </span>
		</div>
		<div class="item comment-link">
			<a href="#/comment/{{user.id_user}}" class="link_comments">
				Voir tous les commentaires
			</a>
		</div>
	</div>
	</ion-content>
</ion-view>